[submodule "documentation"]
	path = documentation
	url = https://github.com/edurange/edurange-documentation
[submodule "scenarios/production/ssh_inception"]
	path = scenarios/production/ssh_inception
	url = https://github.com/edurange/terraform_ssh_inception
[submodule "scenarios/production/getting_started"]
	path = scenarios/production/getting_started
	url = https://github.com/edurange/scenario-getting-started
	branch = terraformize
[submodule "scenarios/production/file_wrangler"]
	path = scenarios/production/file_wrangler
	url = https://github.com/edurange/scenario-file-wrangler
	branch = terraformize
[submodule "scenarios/production/strace"]
	path = scenarios/production/strace
	url = https://github.com/edurange/strace-lyn
	branch = terraformize
[submodule "scenarios/production/total_recon"]
	path = scenarios/production/total_recon
	url = https://github.com/edurange/scenario-total-recon
	branch = terraformize
[submodule "scenarios/production/treasure_hunt"]
	path = scenarios/production/treasure_hunt
	url = https://github.com/edurange/scenario-treasure-hunt
	branch = terraform
[submodule "scenarios/production/metasploitable"]
	path = scenarios/production/metasploitable
	url = https://github.com/edurange/scenario-metasploitable
