<!DOCTYPE html>
<html>
<head>
	<meta content='text/html: charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>&nbsp;</p>
	<p>Hello!</p>
		<h1>WARNING:</h1>
	 <p> Your EduRange Scenario has been booted for an excessive amount of time. It may be automatically unbooted soon if no action is taken.</p>
	</body>
</html>
