<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html: charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>WARNING: Your EduRange Scenario has been booted for an excessive amount of time. It may be automatically unbooted soon if no action is taken.</h1>
	</body>
</html> 
