<!DOCTYPE html>
<p>&nbsp;</p>
<html>
<p>Hello, <%= @scenario.user.name %>!</p>
		<meta content='text/html: charset=UTF-8' http-equiv='Content-Type' />
		<h1>WARNING:</h1>
	<body>
	<p> Your EduRange Scenario, <%= @scenario.name %>  has been booted for an excessive amount of time. It may be automatically unbooted soon if no action is taken.</p>
	</body>
</html>
