%br
%div.card.card-default
  %div.card-header
    %button#btnFA.btn.float-right
      = link_to(edit_user_registration_path, class: 'btn btn-outline-secondary btn-sm') do
        %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/c87346ab54.js"}
        %i.fas.fa-edit
        Edit
    %h4.card-title
      Account Information
  %div.card-body
    = render 'partials/account_information_dl.html.haml'
