%div.panel.panel-default
  %div.panel-heading
    %h4.panel-title
      Student Groups
    %div.btn-group.pull-right
      = link_to 'create student group', '#modal-student-group-create', data: {toggle: "modal"},
          class: 'btn btn-default', |
          onclick: "$('#modal-student-group-create').find('#name-div').removeClass('has-error');" + |
                   "$('#modal-student-group-create').find('#name').val('');" +                      |
                   "$('#modal-student-group-create').find('#name-help').html('');"                  |

  %div#student-groups
    - current_user.student_groups.each do |student_group|
      = render 'student_groups/student_group', student_group: student_group, scenario: @scenario
