= link_to 'SIGSCE2017 Workshop', "https://docs.google.com/document/d/11Zaurwhs6d6EAUG8xpcgpn3U9_kWx9rRdE_HrtEMBW4/edit#", target: "_blank"
%br
= link_to 'EDURange Papers', "https://drive.google.com/drive/folders/0B4AnDMig9um9U2VLWUhGMm5tTjA?usp=sharing", target: "_blank"

