%nav.navbar.navbar-expand-lg.navbar-light{:style => "background-color: #DBF3FA;"}
  %div.container-fluid
    %div.navbar-header
      %a.navbar-brand{:href => "#"}
        = link_to image_tag("https://edurange.org/img/logo_menu.png"), root_path
    %ul.nav.navbar-nav
      //- if current_user
      //  %li{role: 'presentation', class: (params[:controller] == 'instructor' or params[:controller] == 'admin') ? "active" : "" }
      //   = link_to 'Home', root_path
      - if current_user.instructor? or current_user.admin?
        %li.nav-link.justify-content-center{role: 'presentation', class: params[:controller] == 'scenarios' ? "active" : "" }
          = link_to 'Scenarios', scenarios_path
          //%li{role: 'presentation', class: params[:controller] == 'schedules' ? "active" : "" }
          //  = link_to 'Scheduler', schedules_path
      %li.nav-link{role: 'presentation', class: params[:controller] == 'tutorials' ? "active" : "" }
        = link_to 'Help Docs', tutorials_path
    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li{role: 'presentation'}
          = link_to destroy_user_session_path, :method => :delete do
            %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/c87346ab54.js"}
            %i.fas.fa-sign-out-alt
            Log Out
